<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sajid - Personal Portfolio</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/images/logo.ico' %}" type="image/x-icon">

  <!-- Custom CSS Link -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Google Font Link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  
</head>

<body>

  <!-- Main Content -->
  <main>

    <!-- Sidebar -->
    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">
        <figure class="avatar-box">
          <img src="{% static 'assets/images/my-avatar.png' %}" alt="Om Kharche" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Om Kharche">Muhammed Sajid</h1>
          <p class="title">Graphic Designer</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>
          <ion-icon name="chevron-down"></ion-icon>
        </button>
      </div>

      <div class="sidebar-info_more">
        <div class="separator"></div>

        <!-- Contact Info -->
        <ul class="contacts-list">
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">Email</p>
              <a href="mailto:sajiddeshamangalam@gmail.com" class="contact-link">sajiddeshamangalam@gmail.com</a>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">Phone</p>
              <a href="tel:+919562241495" class="contact-link">+91 9562241495</a>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">Birthday</p>
              <time datetime="2001-04-11">11 April, 2001</time>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">Location</p>
              <address>Kerala, India</address>
            </div>
          </li>
        </ul>

        <div class="separator"></div>

        <!-- Social Links -->
        <ul class="social-list">
          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <!-- Main Content Area -->
    <div class="main-content">
      <!-- Navbar here -->
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'about_section' %}">About</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'resume_section' %}">Resume</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'portfolio_section' %}">Portfolio</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{% url 'contact_section' %}">Contact</a>
          </li>
        </ul>
      </nav>
      
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </div>
  </main>

  <!-- Custom JS Link -->
  <script src="{% static 'assets/js/script.js' %}"></script>

  <!-- Ionicons Link -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>